@import "client";
.testimonials{
    min-height: 90vh;
    background-color: #FFFBF8;
    padding: 5rem;
    @media only screen and (min-width: $LG-DESKTOP) {
        min-height: 80vh;
        padding: 8rem;
    }
    @media only screen and (max-width: $M-PHONE) {
        min-height: 100vh;
        padding: 3rem 2rem 4rem 2rem;
        width: 100vw;
        box-sizing: border-box;
        overflow: hidden;
    }
    &__title{
        color: #A7A7A7;
        text-transform: uppercase;
        letter-spacing: 2px;
        word-spacing: 1px;
        font-weight: 900;
        @media only screen and (max-width: $M-PHONE) {
            font-size: 20px;
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 5rem;
        @media only screen and (max-width: $M-PHONE) {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 0px;
        }
    }
}
