
.services{
    width: 100%;
    height: 65vh;
    display: flex;
    @media only screen and (max-width: $M-PHONE) {
        flex-direction: column;
        height: 100vh;
        flex-direction: column-reverse;
    }
    @media only screen and (max-width: $S-PHONE) {
        height: 130vh; 
    }
    &--reverse{
        flex-direction: row-reverse;
        @media only screen and (max-width: $M-PHONE) {
            flex-direction: column-reverse;
        }
    }
    &--background{
        @media only screen and (max-width: $M-PHONE) {
            height: 160vh;
        }
    }
    &__section{
        width: 50%;
        height: 100%;
        @media only screen and (max-width: $M-PHONE) {
            width: 100%;
            height: 50%;
        }
        &--text{
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            padding-right: 10%;
            padding-left: 10%;
            @media only screen and (min-width: $LG-DESKTOP) {
                padding-left: 7%;
                padding-right: 7%;
            }
            @media only screen and (max-width: $M-PHONE) {
                width: 100%;
                align-items: center;
                justify-content: center;
            }
        }
        &__title{
            letter-spacing : 0.5px;
            font-size: 36px;
            font-weight: 900;
            line-height: 35px;
            margin-bottom: 30px !important;
            @media only screen and (min-width: $LG-DESKTOP) {
                font-size: 40px;
            }
            @media only screen and (max-width: $M-PHONE) {
                text-align: center;
                line-height: 40px;
                font-size: 32px;
            }
        }
        &__text{
            letter-spacing : 0.5px;
            font-weight: 600;
            line-height: 23px;
            margin-bottom: 35px  !important;
            font-size: 15px;
            @media only screen and (min-width: $LG-DESKTOP) {
                font-size: 18px;
            }
            @media only screen and (max-width: $M-PHONE) {
                text-align: center;
                font-size: 14px;
            }
        }
        &__link{
            text-transform: uppercase;
            font-weight: 900;
            font-size: 14px;
            letter-spacing: 0.8px;
            text-decoration: none;
            display: inline !important;
            width: 7.2rem;
            text-align: center;
            border-radius: 3px;
            transition: all 0.5s;
            @media only screen and (max-width: $M-PHONE) {
                font-size: 13px;
            }
            &--yellow{
                border-bottom: 5px solid rgba(249, 212, 0, 0.5);    
                &:hover{
                    border-bottom: 5px solid rgba(249, 212, 0, 1);
                    transform: scale(1.05);
                }
            }
            &--pink{
                border-bottom: 5px solid rgba(254, 120, 102, 0.5);    
                &:hover{
                    border-bottom: 5px solid rgba(254, 120, 102, 1);   
                    transform: scale(1.05);
                }
            }
        }
        &--background {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            &:nth-child(1){
                background-image: url('/assets/images/desktop/image-graphic-design.jpg');
                @media only screen and (max-width: $M-PHONE) {
                    background-image: url('/assets/images/mobile/image-graphic-design.jpg');
                }   
            }
            &:nth-child(2){
                background-image: url('/assets/images/desktop/image-photography.jpg');
                @media only screen and (max-width: $M-PHONE) {
                    background-image: url('/assets/images/mobile/image-photography.jpg');
                }  
            }
            &__title{
                font-weight: 900;
                font-size: 28px;
                text-align: center;
                margin-bottom: 25px !important;
                letter-spacing : 0.5px;
                @media only screen and (min-width: $LG-DESKTOP) {
                    font-size: 32px;
                }
                @media only screen and (max-width: $M-PHONE) {
                    font-size: 25px;
                    margin-bottom: 20px !important;

                } 
            }
            &__text{
                font-weight: 600;
                font-size: 15px;
                line-height: 23px;
                letter-spacing : 0.5px;
                margin-bottom: 50px !important;
                text-align: center;
                width: 50%;
                @media only screen and (min-width: $LG-DESKTOP) {
                    font-size: 17px;
                }
                @media only screen and (max-width: $M-PHONE) {
                    font-size: 14px;
                    width: 80%;
                    margin-bottom: 30px !important;
                } 
            }
        }
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
